.App {
  font-family: sans-serif;
  text-align: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

#nowhiteimg {
  top: 0px;
  width: 180px;
  height: 180px;
  padding-left: 4px;
  padding-top: 4px;
}

#whiteimg {
  top: 25px;
  left: 28px;
  padding-left: 4px;
  padding-top: 4px;
}

#border {
}
